.flx-card__footer{
    padding: 16px;
    border-top: 1px solid var(--border);

    .flx-card__footer--link{
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-decoration: none;
        font-weight: bold;
        color: var(--accent);
    }
}

.flx-card__footer--hover:hover{
    background-color: var(--accent10);
    cursor: pointer;
    transition: all .3s ease-in-out;
}